# Hyper-V host connection details
hyperv_host = {
  host     = "192.168.10.2"
  user     = "Administrator"
  password = "hyperv237!"
  port     = 5985
  https    = false
  insecure = true
  use_ntlm = false
}

# Talos version
talos_version = "v1.11.2"

# Path to the Talos ISO image
iso_path = "C:/Users/Public/metal-amd64.iso" # Update with the actual path to your Talos ISO

# VM definitions
host_vms = [
  { name = "talos-cp1", role = "controlplane,master", ip = "192.168.10.101" },
  { name = "talos-wk1", role = "worker", ip = "192.168.10.201" },
  { name = "talos-wk2", role = "worker", ip = "192.168.10.202" }
]

# Shared cluster settings
api_vip = "192.168.10.100"
switch  = "Default Switch" # Update with your Hyper-V virtual switch name
net_adapter_name = "Ethernet" # Update with your physical network adapter name
